<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="manage-customer">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <!--One way - data binding -two braquets-->
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Manage Customer<h1>
          <button on-click="getCustomers" class="btn btn-success">Get Customers</button>
          <br>
          <button on-click="addCustomers" class="btn btn-warning">Add Customers</button>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <tbody>
            <template is="dom-repeat" items="{{customers}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     //The class name is the same that the polymer component but with camell case
    class ManageCustomer extends Polymer.Element {
      static get is() { return 'manage-customer'; }
      static get properties() {
        return {
          customers: {
            type: Array,
            notify : true
          }
        };
      }

      getCustomers(){

           //TechU
           let uri = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
           let request = new XMLHttpRequest();

           request.open("GET",uri, false);
           request.setRequestHeader("Accept","application/json");
           request.send();

           this.customers = JSON.parse(request.responseText).value;
           //console.table(this.customers);

           /*fetch(uri)
               .then(function (response) {

                   return response.text();
               }).then(function (data) {

                   console.table(JSON.parse(data).value);
                   this.customers = JSON.parse(data).value;
               }).catch(function (err) {
                   console.log(err);
               });*/
         }

        addCustomers(){
          let uri = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
          let request = new XMLHttpRequest();

          request.open("POST",uri, false);
          request.setRequestHeader("Accept","application/json");
          request.setRequestHeader("Content-Type", "application/json");

          let newCustomer = {"CustomerID":"12345", "ContactName":"Luis Antonio", "CompanyName":"BBVA"};
          let body = JSON.stringify(newCustomer);

          request.send(body);

          this.response = request.responseText;
          console.log(this.response);
        }
       }

    window.customElements.define(ManageCustomer.is, ManageCustomer);
  </script>
</dom-module>
